.edit-recipe-container{
  max-width: 600px;
  margin: auto;
  margin-top: 20px;
  padding: 2rem;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}

.edit-recipe-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.edit-recipe-form input,
.edit-recipe-form textarea {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.edit-recipe-form button {
  padding: 0.75rem;
  background-color: #fba740;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

.edit-recipe-form button:hover {
  background-color: #030303;
}

.msg {
  margin-top: 1rem;
  text-align: center;
  font-weight: bold;
}
